@font-face {
	font-family: "Google";
	src: url("/font/google/regular.woff2") format("woff2");
	}

@font-face {
	font-family: "Google M";
	src: url("/font/google/medium.woff2") format("woff2");
	}

@font-face {
	font-family: "Futura";
	src: url("/font/futura/regular.woff2") format("woff2");
	}

@font-face {
	font-family: "Futura Light";
	src: url("/font/futura/light.woff2") format("woff2");
	}

@font-face {
	font-family: "Futura Bold";
	src: url("/font/futura/bold.woff2") format("woff2");
	}
